@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", sans-serif;
}

.container {
  background-color: #374151;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #fff;
  margin: 20px 0;
}

.form {
  background-color: #475569;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  border-radius: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

label {
  color: #fff;
}

#player-one-name,
#player-two-name {
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  margin-top: 5px;
}

.player-two {
  grid-column: 3 / 4;
}

.game-board {
  background-color: #e5e7eb;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  margin-top: 50px;
}

.cell {
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
}

.btn {
  grid-column: 2 / 3;
  width: 100px;
  padding: 5px 0;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px #94a3b8;
  font-weight: bold;
}

.inactive {
  filter: blur(4px);
}
